*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}:root{
    --background:#DDE6ED;
    --text:#526D82;
    --heading:#27374D;
}
#root .cse{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding:1rem;
}
.cse .cn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.cse .cn h2{
    color: var(--heading);
}
.cse .cn p{
    color: var(--text);
}
.cn button{
    background-color: var(--text);
    padding:0.3rem 0.5rem;
    border:none;
    border-radius: 0.5rem;
}
.cn button:hover{
    scale: 1.1;
}
.cn button:active{
    scale: 0.9;
}
.cn button a{
    color: var(--background);
}
.cn video{
    width: 80%;
}
.cn .lab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2rem;
    align-items: center;
    & p{
        font-size: 2rem;
    }
}
.lab > p{
    display: block;
    word-break:keep-all;
    width: 100%;
}
.cn .lab a{
    color: var(--background);
    background-color: var(--text);
    width: 10rem;
    text-align: center;
    padding:0.5rem 0.5rem;
    border-radius: 0.5rem;
}
.cse .cn .handWritten{
    width: 100%;
}
.handWritten p{
    font-size: 2.5rem;
    color: var(--heading) !important;
}
.handWritten .exp{
    width: 100%;
}
.exp img{
    width: 50%;
    display: block;
    margin: 0 auto;
}
@media screen and (max-width:480px){
    .cn video{
        width: 95%;
    }
    .cn .lab > p{
        font-size: 1.5rem;
    }
    .handWritten p{
        font-size: 1.5rem;
    }
    .exp6 img{
        width: 97.5%;
    }
}