*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}:root{
    --background:#DDE6ED;
    --text:#526D82;
    --heading:#27374D;
}
#root .cse{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding:1rem;
}
.cse .cn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.cse .cn h2{
    color: var(--heading);
}
.cse .cn p{
    color: var(--text);
}
.cn button{
    background-color: var(--text);
    padding:0.3rem 0.5rem;
    border:none;
    border-radius: 0.5rem;
}
.cn button:hover{
    scale: 1.1;
}
.cn button:active{
    scale: 0.9;
}
.cn button a{
    color: var(--background);
}
.cn video{
    width: 80%;
}
.cn .pktFilesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1.5rem;
    align-items: center;
}
.cn .pktFilesContainer a{
    color: var(--background);
    background-color: var(--text);
    width: 10rem;
    text-align: center;
    padding:0.5rem 0.5rem;
    border-radius: 0.5rem;
}
.cse .cn .handWritten, .cse .cn .outputs{
    width: 100%;
    margin:2rem 0;
}
.handWritten p, .outputs p{
    font-size: 2rem;
    color: var(--heading) !important;
    margin-bottom: 0.5rem;
}
.handWritten .pdfsContainer,.outputs .pdfsContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center; 
    /* for embed */
}
.handWritten .pdfsContainer embed, .outputs .pdfsContainer embed{
    width: 90%;
    height: 30rem;
}
@media screen and (max-width:480px){
    .cn video{
        width: 97.5%;
    }
    .cn .pktFilesContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .cse .cn .handWritten, .cse .cn .outputs{
        margin:1rem 0;
    }
    .handWritten p, .outputs p{
        font-size: 1.25rem;
    }
    .handWritten .pdfsContainer, .outputs .pdfsContainer{
        grid-template-columns: repeat(1,1fr);
        gap:1rem;
    }
    .handWritten .pdfsContainer embed, .outputs .pdfsContainer embed{
        height: 20rem;
    }
}