*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --background:#DDE6ED;
    --text:#526D82;
    --heading:#27374D;
}
#root .cse{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
    padding:1rem;
}
.cse .cn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.cse .cn h2{
    color: var(--heading);
}
.cse .cn p{
    color: var(--text);
}
.cn button{
    background-color: var(--text);
    padding:0.3rem 0.5rem;
    border:none;
    border-radius: 0.5rem;
}
.cn button:hover{
    scale: 1.1;
}
.cn button:active{
    scale: 0.9;
}
.cn button a{
    color: var(--background);
}
.cn video{
    width: 80%;
}
.cn .lab{
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    align-items: center;
    & p{
        font-size: 2rem;
    }
}
.cn .lab a{
    color: #27374D;
    background-color: #526D82;
    width: 7.5rem;
    text-align: center;
    padding:0.25rem 0;
    border-radius: 0.5rem;
}
.footer h3{
    color: #27374D;
}