*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --background:#DDE6ED;
    --text:#526D82;
    --heading:#27374D;
}
#root{
    position: relative;
}
#root nav{
    width: 100%;
    background-color:var(--background);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:2.5rem;
    height:100vh;
}
nav a{
    color:var(--background);
    width: 15rem;
    text-align: center;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    background-color: var(--heading);
    transition: scale 0.1s ease-in-out;
}
nav a:hover{
    scale: 1.25;
    box-shadow: 0 0 0.3rem var(--heading);
}
nav a:active{
    scale: 0.9;
}
#root .shrinkNav{
    flex-direction: row;
    height: 7.5vh;
    position:sticky;
    top:0;
    z-index: 9;
    box-shadow: 0 0 0.5rem var(--heading);
}
@media screen and (max-width:480px){
    nav a:hover{
        scale: unset;
        box-shadow: unset;
    }
    #root .shrinkNav{
        overflow-x: scroll;
        justify-content: left;
        padding:0 0.5rem;
        gap:0.5rem;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .shrinkNav a{
        white-space: nowrap;
        font-size: 0.8rem;
        padding: 0.5rem;
    }
}