*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#root .warning, #root .designer{
    padding:1rem;
    background-color: #DDE6ED;
}
#root .warning p, .designer p{
    text-align: center;
}
#root nav{
    width: 100%;
    background-color:#DDE6ED;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap:1rem;
    padding:0.5rem 0;
    height: calc(100vh - 102px);
}
nav a{
    color:#DDE6ED;
    width: 15rem;
    text-align: center;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    background-color: #27374D;
    transition: scale 0.1s ease-in-out;
}
nav a:hover{
    scale: 1.25;
    box-shadow: 0 0.1rem 0.25rem #000;
    color:#9DB2BF;
}
nav a:active{
    scale: 0.9;
}
@media screen and (max-width: 480px){
    #root nav{
        height: 80vh;
    }
}